.basketItem{
    width: 90%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
.item{
    display: flex;
    /* justify-content: space-evenly; */
    gap: 1rem;
    align-items: center;
    
}
.item__image{
    max-height: 200px;
    /* width: 50%; */
}
.item__rating{
    display: flex;
}
.item__info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.item__info > button{
    background-color: #f0c14b;
}